* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

@font-face {
  font-family: UVNKieuBold;
  src: url("../fonts/UVNKieu_B.TTF");
}
.font-style {
  font-family: UVNKieuBold;
  font-size: 40px;
  font-weight: 600;
  color: black;
}

.title {
  position: relative;
}
.title .col-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.title .col-button button {
  padding: 0 10px;
  margin: auto;
  border: none;
  border: 2px solid transparent;
}
.title .col-button button:hover {
  border: 2px solid black;
}
.title .absolute {
  position: absolute;
  bottom: 0.001%;
}

button.active {
  font-weight: bold;
  border: 2px solid #000;
}

.massage-item {
  font-size: small;
  background-color: rgb(235, 235, 235);
  background-size: 100%;
}
.massage-item .col > p {
  line-height: 35.5px;
}
.massage-item .checked {
  color: rgb(216, 190, 75);
}

.popular-spa {
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgb(0, 0, 0))), url("../images/home/font1-background.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("../images/home/font1-background.png");
  background-size: cover;
}
.popular-spa .font-style {
  font-family: UVNKieuBold;
  font-size: 80px;
  font-weight: 600;
  color: #f9c636;
}

.searching {
  background-color: black;
  color: #ffb628;
  padding: 2px;
  margin-bottom: 20px;
}
.searching p {
  color: black;
  background-color: #ffb628;
  border: none;
  padding: 2px;
  margin: 2px;
  text-align: center;
}
.searching .searching-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.searching .searching-rating .left {
  float: left;
}
.searching .searching-rating .left .checked {
  color: rgb(216, 190, 75);
}
.searching .searching-rating .right {
  float: right;
}
.searching .searching-rating .right .button {
  padding: 0 15px;
  margin-right: 5px;
  background-color: #ffb628;
  border: none;
}

.advertise {
  display: block;
  margin-bottom: 20px;
}

.latest-news {
  text-align: center;
  background-image: url("../images/home/font2-background.png");
  background-size: cover;
  padding: 30px;
}
.latest-news .font-style {
  font-family: UVNKieuBold;
  font-size: 80px;
  font-weight: 600;
  color: #7b0200;
}
.latest-news .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.latest-news .content .col-lg-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.latest-news .content .col-lg-4 a img {
  max-width: 100%;
  height: auto;
}
.latest-news .content .content-text {
  background-color: #fff;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}
.latest-news button {
  border: 1px solid brown;
  background-color: transparent;
  margin-top: 2%;
  padding: 0.2cm 5cm;
}

.about-massage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ebebeb;
  padding: 10px 60px;
}
.about-massage .div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}
.about-massage .div .ul {
  list-style: none;
  padding: 0;
}
.about-massage .div .ul .li a {
  text-decoration: none;
  color: black;
}
.about-massage .div .ul .li a :hover {
  text-decoration: none;
}