.header {
  position: relative;
  text-align: center;
}
.header .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}
.header .background-image.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.header .logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
}
.header .logo-container .logo-image {
  display: block;
  max-width: 200px;
}