* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

@font-face {
    font-family: UVNKieuBold;
    src: url("../fonts/UVNKieu_B.TTF");
}

.font-style {
    font-family: UVNKieuBold;
    font-size: 40px;
    font-weight: 600;
    color: black;
}

.title {
    position: relative;

    .col-button {
        display: flex;
        //flex-direction: row;
        justify-content: space-around;

        button {
            padding: 0 10px;
            margin: auto;
            border: none;
            border: 2px solid transparent;

            &:hover {
                border: 2px solid black;

            }
        }
    }

    .absolute {
        position: absolute;
        bottom: 0.001%;
    }
}

button.active {
    font-weight: bold;
    border: 2px solid #000;
}

.massage-item {
    font-size: small;
    background-color: rgb(235, 235, 235);
    background-size: 100%;

    // .massage-item-text-title {
    //     display: flex;
    //     justify-content: space-around;
    //     padding: 0;
    //     line-height: 35.5px;
    //     margin: 0;
    // }
    > img {
        object-fit: cover;
        min-width: 100%;
    }

    .col>p {
        line-height: 35.5px;
    }

    .checked {
        color: rgb(216, 190, 75);
    }
}
#massage-item-text-title{
    margin-bottom: 0rem !important;
}

.searching {
    background-color: black;
    color: #ffb628;
    padding: 2px;
    margin-bottom: 20px;

    p {
        color: black;
        background-color: #ffb628;
        border: none;
        padding: 2px;
        margin: 2px;
        text-align: center;
    }

    .searching-rating {
        display: flex;
        justify-content: space-between;

        .left {
            float: left;

            .checked {
                color: rgb(216, 190, 75);
            }
        }

        .right {
            float: right;

            .button {
                padding: 0 15px;
                margin-right: 5px;
                background-color: #ffb628;
                border: none;
            }
        }
    }
}

.advertise {
    display: block;
    margin-bottom: 20px;
}

.popular-spa {
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("../images/home/font1-background.png");
    background-size: cover;

    .font-style {
        font-family: UVNKieuBold;
        font-size: 50px;
        font-weight: 600;
        color: #f9c636;
    }

    >img {
        padding-bottom: 30px;
    }

    .spa-align {
        display: flex;
        justify-content: space-around;
        padding: 10px;

        .text-style {
            .text1 {
                color: #fff;
                margin-bottom: 0;
            }

            .text2 {
                color: gray;
                text-align: left;
            }
        }
    }
}

.latest-news {
    text-align: center;
    background-image: url("../images/home/font2-background.png");
    background-size: cover;
    padding: 30px;
    background-repeat: no-repeat;

    .font-style {
        font-family: UVNKieuBold;
        font-size: 50px;
        font-weight: 600;
        color: #7b0200;
    }

    >img {
        padding-bottom: 30px;
    }

    .content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #fff;
        background-size: 100%;

        // .col-lg-4 {
        //     display: flex;
        //     flex-direction: column;
        //     align-items: center;

        //     a {
        //         img {
        //             max-width: 100%;
        //             height: auto;
        //         }
        //     }
        // }

        .lastest-news-item-text {
            // position: absolute;
            // width: 100%;
            margin-top: 20px;
            box-sizing: border-box;
            text-align: left;
        }
    }

    button {
        border: 1px solid brown;
        background-color: transparent;
        margin-top: 2%;
        padding: 0.2cm 5cm;
    }
}

.about-massage {
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
    padding: 10px 60px;
    font-size: 12pt;
    font-family: Arial;

    div {
        flex: 1;
        padding: 10px;

        a {
            text-decoration: none;
            color: black;

            :hover {
                text-decoration: underline;
            }
        }
    }
}