* {
    box-sizing: border-box;
    padding: 0;
    font-size: 100%;
    font-family: Arial;
    font-size: 14px;
}

.breadcrumb-item a {
    text-decoration: none;
    color: black;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">" !important;
}

@font-face {
    font-family: UVNKieuBold;
    src: url("../fonts/UVNKieu_B.TTF");
}

// Nội dung chính
.MyriadPro-font {
    font-family: MyriadProRegular;
}

.content-title>p {
    font-size: 24px;
    color: #7b0200;
    margin-bottom: 30px;
}

.main-content {
    .remove-margin {
        margin: 0;
    }

    img {
        padding-bottom: 20px;
        width: 100%;
        height: 100%;
    }
}

.margin-bottom {
    margin-bottom: 50px;
}

.content-rating {
    display: flex;
    margin-bottom: 30px;

    .star-icon {
        margin-right: 10px;

        .checked {
            color: #f7b208;
        }
    }

    .like-btn, .share-btn, .message-icon, .zalo-icon {
        padding: 0px 2px;
    }

    .message-icon {
        position: relative;
        display: inline-block;

        .fb-message-img-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -40%);
            font-size: 12px;
            color: black;
        }
    }

    // .zalo-icon {
    //     object-fit: fill;
    // }
}



// Comment
.comment-order {
    display: flex;
    justify-content: space-between;

    .comment-order-text {
        color: #a3a2a2;
    }

    .comment-order-field {
        background-color: #ebebeb;
        width: 80px;
        height: 30px;
        padding: 0 5px;
        margin: 3px 5px;
        outline: none;
        appearance: none;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        background-position: right 0.7rem top 50%;
        background-size: 0.65rem auto;
    }
}

.hr-style {
    color: e1e1e1;
}

.without-margin {
    margin: 0 0 14px 0;
}

.comment-field {
    display: flex;
    align-items: center;

    .comment-input-field {
        width: 100%;
        padding: 3px 15px;
        margin: 0 0 0 10px;
        height: 45px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;

        &::placeholder {
            font-family: 'Roboto', sans-serif;
        }
    }
}

.facebook-icon {
    text-decoration: none;
    color: #3B5998;

    i {
        background: #3B5998;
        color: white;
        //margin-right: 5px;
        border: 1px solid #3B5998;
        padding: 2px 2px 0 5px;
        border-radius: 1px;
    }
}

// Tìm kiếm
.searching {
    background-color: black;
    color: #ffb628;
    padding: 2px;
    margin-bottom: 20px;
    //margin-left: auto;
    width: 271px;
    height: 284px;

    p {
        color: black;
        background-color: #ffb628;
        border: none;
        padding: 5px;
        margin-bottom: 26px;
        text-align: center;
        font-family: 'Roboto';
    }

    .searching-field {
        margin-bottom: 20px;

        label {
            margin-left: 20px;
            color: #f9c636;
        }

        .searching-input-field {
            width: 240px;
            height: 38px;
            padding: 14px;
            outline: none;
            margin: 3px 15px;
        }

        .searching-select-field {
            width: 240px;
            height: 38px;
            padding: 5px;
            margin: 3px 15px;
            outline: none;
            appearance: none;
            background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
            background-repeat: no-repeat;
            background-position: right 0.7rem top 50%;
            background-size: 0.65rem auto;
            color: #003333;
        }

        select option {
            color: #003333;
        }

    }

    .searching-rating {
        display: flex;
        justify-content: space-between;

        .searching-rating-left {
            float: left;

            label {
                margin-left: 20px;
            }

            .fa-star {
                font-size: 70% !important;
            }

            .icon {
                margin-left: 30px;
                line-height: 0.8;

                .checked {
                    color: rgb(216, 190, 75);
                }

                .unchecked {
                    color: #999999;
                }
            }
        }

        .searching-rating-right {
            float: right;

            .button {
                margin: 3px 15px;
                background-color: #ffb628;
                border: none;
                width: 58px;
                height: 30px;
            }
        }
    }
}

// Chủ đề mới nhất
.latest-topic {
    background-color: black;
    color: #ffb628;
    padding: 2px;
    margin-bottom: 20px;
    //margin-left: auto;
    width: 272px;
    //height: 409px;

    >p {
        color: black;
        background-color: #ffb628;
        border: none;
        padding: 5px;
        margin-bottom: 18px;
        text-align: center;
        font-family: 'Roboto';
    }

    .latest-topic-item {
        padding: 5px;

        .latest-topic-item-style {
            padding-bottom: 18px;
            display: flex;
            justify-content: space-between;

            img {
                padding-right: 7px;
                height: 100%;
                max-height: 100%;
                object-fit: cover;
                //width: 101px;
                //height: 69px;
            }

            .latest-topic-text>p {
                color: #707070;
                margin: 0;

                a {
                    text-decoration: none;
                }

                .text1 {
                    color: white;
                }
            }
        }
    }
}

.advertise {
    #advertise2 {
        width: 269px;
        height: 365px;

        img {
            margin-bottom: 20px;
        }
    }
}

// Tin tức mới nhất
.latest-news {
    text-align: center;
    background-image: url("../images/home/font2-background.png");
    background-size: cover;
    padding: 50px 0px;
    background-repeat: no-repeat;

    .latest-news-font-style {
        font-family: UVNKieuBold;
        font-size: 50px;
        font-weight: 600;
        color: #7b0200;
        margin: 0;
    }

    >img {
        padding-bottom: 30px;
    }

    .latest-news-align {
        // margin-left: 84px;
        // margin-right: 84px;

        .latest-news-content {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: transparent;
            background-size: 100%;

            .lastest-news-item {
                width: 370px;
                background-color: #fff;
                margin: 10px 0px;


                .lastest-news-item-image {

                    //width: 100%;
                    >a>img {
                        width: 100%;
                        //object-fit: cover;
                    }
                }

                .lastest-news-item-text {
                    margin: 0 11px 30px 11px;
                    box-sizing: border-box;
                    text-align: left;
                    display: flex;
                    flex-direction: column;

                    a {
                        text-decoration: none;
                    }

                    .lastest-news-item-text-title {
                        font-weight: 950;
                        font-family: MyriadProRegular;
                        color: black;
                        margin: 20px 0;
                    }

                    .lastest-news-item-text-content {
                        font-family: Arial;
                    }
                }
            }
        }
    }

    button {
        border: 1px solid brown;
        background-color: transparent;
        margin-top: 2%;
        height: 50px;
    }
}

// About massage
.about-massage {
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
    padding: 10px 60px;
    font-size: 14pt;
    font-family: Arial;

    .about-massage-link {
        display: flex;
        justify-content: space-between;
        flex: 1;

        div {
            flex: 1;
            padding: 10px;

            p {
                margin: 5px;
            }

            ul {
                list-style-type: disc;
                                
                li {
                    margin: 5px;

                    a {
                        text-decoration: none;
                        color: black;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

        }
    }

    .about-massage-info {
        flex: 1;
        padding: 10px;

        p {
            margin: 5px;
        }

        a {
            text-decoration: none;
            color: black;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 764px) {
    .popular-spa {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .justify-content-start {
            justify-content: center !important;
        }

        .justify-content-end {
            justify-content: center !important;
        }

        .align-items-start {
            padding-left: 20px !important;
        }

        .align-items-end {
            padding-right: 20px !important;
        }
    }

    .latest-news {
        .latest-news-content {
            //display: flex;
            flex-direction: column;

            .justify-content-start {
                justify-content: center !important;
            }

            .justify-content-end {
                justify-content: center !important;
            }
        }

        .button {
            align-items: center;
        }

    }

    .about-massage {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .container .row>p {
        padding-top: 15px;
    }

    .breadcrumb {
        margin-top: 14px;
    }

    .searching {
        margin: auto;
        margin-bottom: 20px;
    }

    .about-massage {
        padding: 10px 0;
    }


}

@media (max-width: 991px) {
    .searching {
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .latest-topic {
        margin: auto;
        margin-bottom: 20px;
    }

    .advertise {
        text-align: center !important;
    }

    .box-shadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.19);
    }
}

@media (max-width: 400px) {
    .main-content .main-content-overlay {
        .main-content-title {
            font-size: 14px;
        }

        .main-content-text {
            font-size: 10px;
        }
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1171px !important;
    }
}

// .search-container {
//     position: fixed;
//     bottom: 20px;
//     right: 20px;
//     z-index: 1000;
// }

// .search-button {
//     background-color: #333;
//     color: #fff;
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     cursor: pointer;
// }

// #searchBar {
//     display: none;
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     background-color: #fff;
//     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
//     padding: 10px;
//     border-radius: 5px;
// }

// #searchBar input {
//     width: 100%;
//     padding: 8px;
//     box-sizing: border-box;
//     margin-bottom: 10px;
// }

// #searchBar button {
//     background-color: #333;
//     color: #fff;
//     border: none;
//     padding: 8px 12px;
//     cursor: pointer;
// }