// .header {
//     position: relative;
//     text-align: center;

//     .background-image {
//         position: relative;
//         width: 100%;
//         height: auto;
//         z-index: -1;
//     }

//     nav {
//         background-color: rgba(255, 255, 255, 0.7); 
//         position: absolute;
//         bottom: 0; 
//         left: 0;
//         right: 0;
//         text-align: center; 
//         ul {
//             list-style: none;
//             padding: 0;
//             margin: 0;
//             display: flex;
//             justify-content: center;

//             li {
//                 padding: 8px 15px;
//                 a {
//                     text-decoration: none;
//                     color: #333;

//                     &:hover {
//                         color: #007bff;
//                     }
//                 }

//                 &.has-submenu {
//                     position: relative;
//                 }

//                 .submenu {
//                     display: none;
//                     position: absolute;
//                     top: 100%;
//                     left: 0;
//                     background: #fff;
//                     border: 1px solid #ddd;
//                     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//                     list-style: none;
//                     padding: 8px 0;
//                     flex-direction: column;

//                     li {
//                         padding: 8px;
//                     }
//                 }

//                 &:hover .submenu {
//                     display: block;
//                 }
//             }
//         }
//     }

//     .logo-container {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         z-index: 1; 

//         .logo-image {
//             display: block;
//             max-width: 200px;
//         }
//     }
// }

.header {
    position: relative;
    text-align: center;

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: -1;

        &.overlay {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    .logo-container {
        position: absolute;
        top: 50%;
        left: 50%;
        //transform: translate(-50%, -50%);

        .logo-image {
            display: block;
            max-width: 200px;
        }
    }
}
